{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "rules": {
    "valid-jsdoc": "error",
    "react/prop-types": 0,
    "linebreak-style": ["error", "unix"]
  }
}
