{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "flow"
      }
    ],
    "linebreak-style": ["error", "unix"]
  }
}
