[submodule "imports/lib/contracts"]
	path = imports/lib/contracts
	url = git@gitlab.com:providentai/cosa-contracts.git
	branch = master
[submodule ".electron"]
	path = .electron
	url = git@gitlab.com:providentai/aragon-wrapper.git
	branch = master
[submodule ".metamask"]
	path = .metamask
	url = git@github.com:AragonOne/metamask-plugin.git
