# See https://help.github.com/ignore-files/ for more about ignoring files.

# configuration
# (keep `.env.enc` and `.env.sample`, but ignore all other `.env`s)
.env*
!.env.enc
!.env.sample

# dependencies
node_modules/

# testing
coverage/

# production
public/

# zeit now configuration
.now

# misc
.DS_Store
.cache
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/apps/
public/aragon-ui/

# ignore package-lock files (only use yarn.lock)
package-lock.json
