[submodule "imports/lib/contracts"]
	path = imports/lib/contracts
	url = https://github.com/AragonOne/aragon-core.git
	branch = monolith
[submodule ".electron"]
	path = .electron
	url = https://github.com/AragonOne/aragon-native-wrapper.git
	branch = master
[submodule ".metamask"]
	path = .metamask
	url = https://github.com/AragonOne/metamask-plugin.git
