<template name="Layout">
  {{ #if initFinished }}
  <div class="ui top fixed text menu" id="topbar">
    <div class="header item">
      <img src="/rsc/logotype.svg">
    </div>
    <div id="isotype">
      <img src="/rsc/isotype.svg">
    </div>
    <div class="right menu">
      {{ > Layout_PendingTx }}
      {{ #if isInjectedMetaMask }}
      <a class="item" id="walletButton">
        <i class="lock large icon"></i>
      </a>
      {{ /if }}
      <a href="/inbox" class="item" id="inboxButton">
        <!--<i class="inbox large icon"></i>-->
        <i class="alarm large icon"></i>
        {{ #if $gt unhandledNotifications 0 }}
        <div class="ui floating red circular empty label"></div>
        {{ /if }}
      </a>
      <a href="/settings" class="item">
        {{#with currentEntity}}<img src="{{ picture }}" class="ui mini right spaced circular image">{{/with}}
      </a>
    </div>
  </div>

  {{ #if companyAddress }}
  {{ > Layout_Sidebar }}

  <div id="container">
    <div class="ui very relaxed padded divided grid">
      {{> Template.dynamic template=main data=data}}
    </div>
  </div>
  {{ else }}
  {{ > Setup }}
  {{ /if }}

  {{ /if }}

  {{ #if isInjectedMetaMask }}{{ > Layout_MetaMask }}{{ /if }}

  <div class="ui active inverted dimmer" id="initialDimmer">
    <div class="ui text loader">Entering Aragon</div>
  </div>
</template>
