<template name="Layout_Inbox">
  <a class="item" id="inboxButton" style="{{ #unless unhandledNotifications }}display: none{{ /unless }}">
    <i class="alarm large icon"></i>
    <div class="ui floating red circular empty label"></div>
  </a>
  <div class="ui special scrollable popup">
    <div class="ui very relaxed divided list" id="notifList">
      {{ #each unhandledNotifs }}
      <div class="item">
        <div class="content">
          <h4 class="header">
            {{ title }}
            <small>{{ timeRange date now }}</small>
          </h4>
          <div class="description">{{ body }}</div>
          {{ #if callToAction }}
          <br>
          <div class="extra">
            <a class="underline" data-notification="{{ _id }}">{{ callToAction }}</a>
          </div>
          {{/if}}
        </div>
      </div>
      {{ /each }}
    </div>
  </div>
</template>
