<template name="Layout">
  {{ #if initFinished }}
  <div class="ui top fixed text menu" id="topbar">
    <div class="header item">
      <img src="/rsc/logotype.svg">
    </div>
    <div id="isotype">
      <img src="/rsc/isotype.svg">
    </div>
    <div class="right menu">
      {{ > Layout_PendingTx }}
      {{ > Layout_Inbox }}

      {{ #if isInjectedMetaMask }}
      <a class="item" id="walletButton">
        <i class="lock large icon"></i>
      </a>
      {{ /if }}
      
      <a href="/settings" class="item">
        {{#with currentEntity}}<img src="{{ picture }}" class="ui mini right spaced circular image">{{/with}}
      </a>
    </div>
  </div>

  {{ #if companyAddress }}
  {{ > Layout_Sidebar }}

  <div id="container">
    <div class="ui very relaxed padded grid">
      {{> Template.dynamic template=main data=data}}
    </div>
  </div>
  {{ else }}
  {{ > Setup }}
  {{ /if }}

  {{ /if }}

  {{ #if isInjectedMetaMask }}{{ > Layout_MetaMask }}{{ /if }}

  <div class="ui active inverted dimmer" id="initialDimmer">
    <small>If this gets stuck for >30 seconds, please <a href="/" id="reload">refresh</a></small>
  </div>
</template>
