@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-Light.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Light.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-LightItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-LightItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-Book.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Book.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-BookItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-BookItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-Medium.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Medium.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-MediumItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-MediumItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-Demi.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Demi.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-DemiItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-DemiItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-DemiItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-Bold.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Bold.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue/MaisonNeue-BoldItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-BoldItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue Mono';
	src: url('/fonts/MaisonNeue/MaisonNeue-Mono.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-Mono.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue Mono';
	src: url('/fonts/MaisonNeue/MaisonNeue-MonoItalic.woff2') format('woff2'),
		url('/fonts/MaisonNeue/MaisonNeue-MonoItalic.woff') format('woff'),
		url('/fonts/MaisonNeue/MaisonNeue-MonoItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
